<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${selectMessage}" th:text="*{selectMessage}" style="color: red"></div>

	<form method="POST" th:action="@{/pet/update}" th:object="${petForm}" enctype="multipart/form-data">

		<br>
		<label>名前</label>
		<input th:field="*{name}">
		
		<br>
		<label>年齢</label>
		<input type="number" th:field="*{age}">
		
		<!--/*
		<br>
		<label>性別</label>
		<th:block th:if="*{sex}">
	    	<input type="radio" value="true" th:field="*{sex}" checked="checked">♂
			<input type="radio" value="false" th:field="*{sex}">♀
		</th:block>
		<th:block th:unless="*{sex}">
		    <input type="radio" value="true" th:field="*{sex}">♂
			<input type="radio" value="false" th:field="*{sex}" checked="checked">♀
		</th:block>
		*/-->
		
		<br>
		<label>特徴</label>
		<input th:field="*{charmPoint}">
		
		<br>
		<label>郵便番号</label>
		<input th:field="*{postCord}">
		
		<br>
		<label>住所</label>
		<input th:field="*{address}">
		
		<br>
		<label>登録日時</label>
		<p th:text="*{createdAt}"></p>
		<input type="hidden" name="createdAt" th:value="*{createdAt}">
		
		<br>
		<label>更新日時</label>
		<p th:text="*{updatedAt}"></p>
		<input type="hidden" name="updatedAt" th:value="*{updatedAt}">
		
		<br>
		<label>【現在画像】</label>
		<img th:src="*{image}">
		<input type="file" name="upload_file">
		<input type="hidden" name="image" th:value="*{image}">
		
		
		<input type="hidden" name="id" th:value="*{id}">
		<input type="hidden" name="sex" th:value="*{sex}">
		
		<input type="submit" value="送信">
	</form>

</body>
</html>