<!DOCTYPE html>

<!--/* ここでspring-securityを読み込ませることで、認証の有無やロールの種類で表示内容を切り分けることができるようになる
	 Adminの時だけ「管理ページへログイン」など */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet" th:href="@{/css/pet/index.css}">
<link rel="stylesheet" th:href="@{/css/header/header.css}">
<link rel="icon" type="image/png" th:href="@{../img/favicon-32x32.png}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
<script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
<meta charset="UTF-8">
<title>Pertch</title>
</head>
<body>
  <th:block th:replace="fragment/header :: header"></th:block>

  <div class="body-container">
    <p class="action-message" th:if="${insertMessage}" th:text="${insertMessage}"></p>
    <p class="action-message" th:if="${updateMessage}" th:text="*{updateMessage}"></p>
    <p class="action-message" th:if="${deleteMessage}" th:text="*{deleteMessage}"></p>
    <p class="alert-message" th:if="${errorMessage}" th:text="*{errorMessage}"></p>

    <h2 style="text-align: center;">
      <i class="fa-solid fa-table-list fa-2x"></i> ペット一覧
    </h2>
    <div class="table-area">
      <table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
        <tr>
          <th>ペット名</th>
          <th>年齢</th>
          <th>性別</th>
          <th>特徴</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th>飼い主</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
        <tr th:each="pet : ${list}" align="center">
          <td align="left">
            <form id="pet-show" method="POST" th:action="@{/pet/show/{id}(id=${pet.id})}">
              <a href="#" th:text="${pet.name}"></a>
            </form>
          </td>
          <td th:text="${pet.age}"></td>
          <th:block th:switch="${pet.sex}">
            <td th:case=true>♂</td>
            <td th:case=false>♀</td>
          </th:block>
          <td th:text="${pet.charmPoint}"></td>
          <td th:text="${pet.postCord}"></td>
          <td th:text="${pet.address}"></td>
          <td>
            <a th:href="@{/owner/show/{id}(id=${pet.owner.id})}" th:text="${pet.owner.ownerName}"></a>
          </td>
          <td>
            <th:block th:if="${pet.owner.id == currentUser.id}">
              <form method="POST" th:action="@{/pet/edit/{id}(id=${pet.id})}">
                <button type="submit">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </form>
            </th:block>
          </td>
          <td>
            <th:block th:if="${pet.owner.id == currentUser.id}">
              <form method="POST" th:action="@{/pet/delete}">
                <input type="hidden" id="delete" name="id" th:value="${pet.id}">
                <button type="submit" id="deleteBtn">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </th:block>
          </td>
        </tr>
      </table>
    </div>

    <script th:src="@{/js/pet/index.js}"></script>

    <th:block th:replace="fragment/footer :: copyRight"></th:block>
  </div>
</body>
</html>







