<!DOCTYPE html>

<!--/* ここでspring-securityを読み込ませることで、認証の有無やロールの種類で表示内容を切り分けることができるようになる
	 Adminの時だけ「管理ページへログイン」など */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<script th:src="@{/js/pet/index.js}"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
		<tr>
			<th>ペット名</th>
			<th>年齢</th>
			<th>性別</th>
			<th>特徴</th>
			<th>住処の郵便番号</th>
			<th>住処の住所</th>
			<th>飼い主</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<tr th:each="pet:${list}" align="center">
			<td th:text="${pet.name}" align="left"></td>
			<td th:text="${pet.age}"></td>
			<th:block th:switch="${pet.sex}">
				<td th:case=true>♂</td>
				<td th:case=false>♀</td>
			</th:block>
			<td th:text="${pet.charmPoint}"></td>
			<td th:text="${pet.postCord}"></td>
			<td th:text="${pet.address}"></td>
			<td>
				<a th:href="@{/owner/show/{id}(id=${pet.owner.id})}" th:text="${pet.owner.name}"></a>
			</td>
			<td>
				<th:block th:if="${pet.owner.id == currentUser.id}">
					<form method="POST" th:action="@{/pet/edit/{id}(id=${pet.id})}">
						<input type="submit" value="編集">
					</form>
				</th:block>
			</td>
			<td>
				<th:block th:if="${pet.owner.id == currentUser.id}">
					<form method="POST" th:action="@{/pet/delete}">
						<input type="hidden" id="delete" name="id" th:value="${pet.id}"> <input type="submit" id="deleteBtn" value="削除">
					</form>
				</th:block>
			</td>
		</tr>

	</table>

	<p th:if="${insertMessage}" th:text="${insertMessage}" style="color: green"></p>
	<p th:if="${updateMessage}" th:text="*{updateMessage}" style="color: green"></p>
	<p th:if="${deleteMessage}" th:text="*{deleteMessage}" style="color: green"></p>

	<br>
	<h1>
		<a href="/pet/new" style="color: red;">ペット登録</a>
	</h1>

	<br>
	<form sec:authorize="authenticated" method="post" th:action="@{/logout}">
		<button type="submit">ログアウト</button>
	</form>


	<div th:replace="fragment/navigation :: link"></div>


</body>
</html>







