<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="img/favicon-32x32.png">
<title>Insert title here</title>
</head>
<body>

<h1>新規登録</h1>

<form method="POST" th:action="@{/pet/insert}" th:object="${petForm}" enctype="multipart/form-data">

<ul th:if="${#fields.hasErrors('*')}">
    <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
</ul>

<br>
<label>名前</label>
<input th:field="*{name}">

<br>
<label>年齢</label>
<input type="number" th:field="*{age}">

<br>
<label>性別</label>
<input type="radio" value="true" th:field="*{sex}">♂
<input type="radio" value="false" th:field="*{sex}">♀

<br>
<label>特徴</label>
<input th:field="*{charmPoint}">

<br>
<label>郵便番号</label>
<input th:field="*{postCord}">

<br>
<label>住所</label>
<input th:field="*{address}">

<br>
<label>写真</label>
<input type="file" name="upload_file">

<br>
<input type="submit" value="送信">

</form>

</body>
</html>