<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="img/favicon-32x32.png">
<link rel="stylesheet" th:href="@{/css/header/header.css}">
<link rel="stylesheet" th:href="@{/css/pet/show.css}">

<link rel="icon" type="image/png" th:href="@{../../img/favicon-32x32.png}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
<title>Pertch</title>
</head>
<body>
  <th:block th:replace="fragment/header :: header"></th:block>

  <div class="body-container">

    <div class="form-container">

      <form id="pet-show" method="POST" th:action="@{/pet/insert}" th:object="${petForm}" enctype="multipart/form-data">
        <h2 th:text="*{name}" style="margin: 0;"></h2>

        <th:block th:if="*{image}">
          <img id="pet-image" th:src="*{image}">
        </th:block>
        <th:block th:if="!*{image}">
          <img id="pet-image" th:src="@{/img/no-image.png}">
        </th:block>

        <div class="mix-area">
          <div class="age-area">
            <label>年齢</label>
            <p th:text="*{age} + '歳'"></p>
          </div>
          <div class="gender-area">
            <label>性別&nbsp;</label>
            <th:block th:if="*{sex}">
              <p>♂</p>
            </th:block>
            <th:block th:if="!*{sex}">
              <p>♀</p>
            </th:block>
          </div>
        </div>

        <label>特徴</label>
        <textarea th:field="*{charmPoint}" readonly></textarea>
        <label>郵便番号</label>
        <p th:text="*{postCord}"></p>
        <label>住所</label>
        <p th:text="*{address}"></p>

      </form>
    </div>
    <th:block th:replace="fragment/footer :: copyRight"></th:block>
  </div>
</body>

</html>