<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout:fixed;">
<tr>
<th>ID</th>
<th>内容</th>
<th>解答</th>
<th>作成者</th>
<th>編集</th>
<th>削除</th>
</tr>
<tr th:each="obj:${list}" align="center">
<td th:text="${obj.id}"></td>
<td th:text="${obj.name}" align="left"></td>
<td th:text="${obj.age}"></td>


<!-- <img th:src="${obj.image}"/>  -->
<!--/*編集ボタン*/-->
<td>

<form method="GET" th:action="@{/pet/{id}(id=${obj.id})}">
<input type="submit" value="編集">
</form>
</td>
<!--/*削除ボタン*/-->
<td>
<form method="POST" th:action="@{/pet/delete}">
<input type="hidden" name="id" th:value="${obj.id}">
<input type="submit" value="削除">
</form>

</td>
</tr>
</table>


<p th:if="${insertMessage}" th:text="${insertMessage}" style="color:green"></p>

<h3>ここからフォーム送信テスト用-----------------------------</h3>
<form method="POST" th:action="@{/pet/insert}" th:object="${petForm}" enctype="multipart/form-data">

<br>
<label>名前</label>
<input th:field="*{name}">

<br>
<label>年齢</label>
<input type="number" th:field="*{age}">

<br>
<label>性別</label>
<input type="radio" value="true" th:field="*{sex}">♂
<input type="radio" value="false" th:field="*{sex}">♀

<br>
<label>連絡先</label>
<input th:field="*{contact}">

<br>
<input type="file" name="upload_file">


<br>
<input type="submit" value="送信">



</form>


</body>
</html>







