<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<link rel="stylesheet" th:href="@{/css/owner/mypage.css}">
	<link rel="stylesheet" th:href="@{/css/header/header.css}">
	<link rel="icon" type="image/png" th:href="@{../../img/favicon-32x32.png}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
	<script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
	<meta charset="UTF-8">
	<title>Pertch</title>
</head>

<body>
	<th:block th:if="${not #strings.isEmpty(errorMessages)}">
		<script th:inline="javascript">alert(/*[[${errorMessages}]]*/);</script>
	</th:block>
	
	<th:block th:replace="fragment/header :: header"></th:block>
	<div class="body-container">
		<div></div>
		<div id="owner-info-area">
			<div></div>
			<div id="name-area">
				<i class="fa-solid fa-user fa-3x"></i>
				<h2 id="owner-name" th:text="${ownerForm.ownerName}"></h2>
			</div>
			<div></div>
			
			<form id="#" method="POST" th:action="@{/owner/update}" th:object="${ownerForm}">
			<div></div>
				<label>連絡先1</label><br>
				<input type="text" class="owner-contact" th:field="*{contact}"></input>
				<div></div>
				<label>連絡先2</label><br>
				<input type="text" class="owner-contact" th:field="*{subContact}"></input>
				<div></div>
				<label>目撃者へのメッセージ</label><br>
				<textarea class="owner-message" th:field="*{message}"></textarea><br>
				<input type="submit" class="submit-button" value="更新">
			</form>
			
		</div>

		<script th:src="@{/js/owner/mypage.js}"></script>
		<th:block th:replace="fragment/footer :: copyRight"></th:block>

	</div>
</body>

</html>