// Sass を含めてビルドが通るか確認
// ⇒特に問題はなし。EclipseでSassのコンパイルは不可

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}